#dirScan { display: none; margin: 10px 0; background: #f6f7f7; padding: 5px 0; width:100%;  }	
#lightbox { display: none; }
.blue { color: #2271b1 !important; }

.basicLightbox { z-index: 999998; position: fixed; bottom: 0; min-height: 100%; display: flex; align-items: center; justify-content: center; }
.basicLightbox__placeholder { overflow: auto; max-width: calc(100% - 360px); min-height: 50%; min-width: 50%; max-height: 85vh; border: solid 2px #f0f0f0; background: #f0f0f0; padding: 20px; }
@media only screen and (max-width: 782px) { min-width: calc(100% - 260px); }
.basicLightbox__placeholder pre { max-width: 100%; max-height: auto; } 
.basicLightbox__placeholder iframe { min-height: 75vh; } 
pre { padding: 10px; overflow : auto; resize: both; max-width: 100%; max-height: 100%; }

